section {
    display: flex;
    flex-direction: column;
    width: 355px;
    height: 96px;
    flex-shrink: 0;

    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;

    margin: 29px 14px 19px 21px;
    padding: 20px 0 46px 23.8px;
    
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            color: var(--Color-primary-1);
            padding-right: 19.1px;
        }
    }
}