.main {
    display: flex;
    justify-content: unset;
    flex-wrap: wrap;
}

@media (min-width: 501px) {
    .main {
        margin: 0 50px;
    }
}

@media (min-width: 601px) {
    .main {
        margin: 0 100px;
    }
}

@media (min-width: 701px) {
    .main {
        margin: 0 150px;
    }
}

@media (min-width: 768px) {
    .main {
        margin: 0 200px;
    }
}

@media (min-width: 780px) {
    .main {
        margin: 0;
    }
}

@media (min-width: 1361px) {
    .main {
        margin: 39px 0 0 261px;
        justify-content: unset;
    }
}