.main {
    display: flex;
    justify-content: unset;
    flex-wrap: wrap;
}

@media (min-width: 390px) and (max-width: 1360px) {
    .main {
        justify-content: center;
    }
}

@media (min-width: 1361px) {
    .main {
        margin: 39px 0 0 261px;
        justify-content: unset;
    }
}